@use "src/sassPartials/fonts";

.details {
	background-color: #373737;
	display: flex;
	flex-direction: column;
	padding: 10px 10px 0px 10px;
	flex: 1;
	overflow: hidden;

	// Desktop.
	@media only screen and (min-width: 905px) {
		padding: 0px 10px;
		order: 1;
		width: 320px;
		flex: none;
	}
}
.descriptionBox {
	padding: 10px;
	background: #4b4b4b;
	flex: 1;
	margin: 0;

	p {
		margin: 5px 0;
		&:last-child {
			margin-bottom: 0px;
		}
		&:first-of-type {
			margin-top: 0px;
		}
	}

	// Tablet & Desktop.
	@media only screen and (min-width: 600px) {
		padding: 20px;
	}

	// Desktop.
	@media only screen and (min-width: 905px) {
		scrollbar-width: thin;

		::-webkit-scrollbar {
			width: 8px;
			background-color: rgb(56, 56, 56);
		}
		::-webkit-scrollbar-thumb {
			background: rgb(129, 129, 129);
		}
	}
}
.aside {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 15px 5px;
	gap: 10px;

	// Tablet & Desktop.
	@media only screen and (min-width: 600px) {
		padding: 20px 10px;
	}
}
.titleBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 48px;
}
.line {
	height: 1px;
	background-color: #5e5e5f;
	margin: 0px 16px;
}
.collapsedTechList,
.expandedTechList {
	margin: 0px 15px;
	display: flex;
	gap: 10px;
}
.expandedTechList {
	flex-direction: column;
	height: 100%;
	overflow-y: auto;
}
.collapsedTechList {
	overflow: hidden;
}
.technology {
	display: flex;
	gap: 10px;
}
.techIcon {
	display: flex;
	align-items: center;
	height: 24px;
	width: 24px;

	// Tablet & Desktop.
	@media only screen and (min-width: 600px) {
		height: 28px;
		width: 28px;
	}
}

.toggleButton {
	display: flex;
	gap: 5px;
	background: none;
	border: none;
	color: #ffffff;
	width: 60px;
	align-items: flex-end;
}
.toggleButton:hover {
	cursor: pointer;
}
.materialSymbol {
	fill: white;
	transition: rotate 0.25s;
}
.toggleText {
	font-size: fonts.calcRem(10px);
}
