// All mixins so i can re-use the button styles with other elements such as the <a></a> tags.

@mixin button-radius {
	border-radius: 10px;
}
@mixin buttons {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 10px 24px;
	color: white;
	border: none;
	position: relative;
	&:hover {
		cursor: pointer;
	}
}
@mixin stateLayer {
	@include button-radius;
	@include buttons;

	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
@mixin fab {
	@include button-radius;
	@include buttons;

	background: var(--buttonBg);
	padding: 20px 30px;
	font-size: 1.9rem;
	line-height: 2.25rem;
	&:hover {
		background: var(--buttonBgHover);
	}
	&:active {
		background: var(--buttonBgActive);
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 10px;
		border: 3px solid transparent;

		background: var(--buttonBorder);
		mask:
			linear-gradient(#fff 0 0) padding-box,
			linear-gradient(#fff 0 0);
		mask-composite: exclude;
	}
}
@mixin filled {
	@include button-radius;
	@include buttons;

	background: #b8c4ff;
	color: #00164d;
	.stateLayer:hover {
		background-color: rgba(255, 255, 255, 0.08);
	}
	.stateLayer:active {
		background-color: rgba(255, 255, 255, 0.12);
	}
	.icon {
		padding: 10px;
	}
}
@mixin outlined {
	@include button-radius;
	@include buttons;

	border: 1px solid #90909a;
	background: transparent;
	.stateLayer:hover {
		background-color: rgba(103, 80, 164, 0.08);
	}
	.stateLayer:active {
		background-color: rgba(103, 80, 164, 0.12);
	}
}
@mixin iconButton {
	@include button-radius;
	@include buttons;

	padding: 10px;

	background: #b8c4ff;
	color: #00164d;
	.stateLayer:hover {
		background-color: rgba(255, 255, 255, 0.08);
	}
	.stateLayer:active {
		background-color: rgba(255, 255, 255, 0.12);
	}
}

.stateLayer {
	@include stateLayer();
}
.fab {
	@include fab;
}
.filled {
	@include filled;
}
.outlined {
	@include outlined;
}
.iconButton {
	@include iconButton;
}
