.wrapper {
	display: flex;
	flex-direction: column;
	background-color: #373737;
	gap: 5px;
	padding: 20px;
	padding-bottom: 50px;
	border-radius: 10px;
}
.title {
	padding: 10px;
}
.line {
	height: 2px;
	width: 100%;
	background-color: #e0e0e0;
}
.address {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.icon {
	height: 24px;
}
