.wrapper {
	display: flex;
	flex-direction: column;
	background-color: #373737;
	gap: 5px;
	padding: 20px;
	padding-bottom: 50px;
	border-radius: 10px;
	flex: 1;

	/* Tablet and desktop */
	@media only screen and (min-width: 430px) {
		padding: 20px 0px 50px 0px;
	}
}
.title {
	padding: 10px;
	border-bottom: 2px solid #e0e0e0;
}
.address {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.icon {
	height: 24px;
}
