@use "../sassPartials/fonts";

:root {
	--primary: #4b4b4b;
	--secondary: #414141;
	--tertiary: #373737;

	--buttonColor: white;
	--buttonBg: rgba(67, 67, 67, 0.75);
	--buttonBgHover: rgba(67, 67, 67, 0.85);
	--buttonBgActive: rgba(67, 67, 67, 0.95);
	--buttonBorder: linear-gradient(
			72.34deg,
			rgba(0, 224, 255, 0.5) 15.9%,
			rgba(0, 224, 255, 0.791667) 35.8%,
			rgba(0, 224, 255, 0.75) 72.43%,
			rgba(0, 224, 255, 0.5) 82.07%
		)
		border-box;
}

/* global */

html {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}
body {
	padding: 0;
	margin: 0;
	@include fonts.font-mobile();
	@media only screen and (min-width: 601px) {
		@include fonts.font-tablet();
	}
	@media only screen and (min-width: 905px) {
		@include fonts.font-desktop();
	}
}
h1,
h2,
h3,
h4 {
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
}
a {
	color: inherit;
	text-decoration: none;
}
* {
	box-sizing: border-box;
}
