@use "src/sassPartials/fonts";
@use "src/components/Button/Button.module.scss" as button;

.header {
	display: flex;
	padding: 15px 25px;
	justify-content: space-between;
	align-items: center;
	background-color: #373737;

	// Tablet only.
	@media only screen and (min-width: 600px) and (max-width: 904px) {
		padding: 20px 35px;
	}

	// Desktop only.
	@media only screen and (min-width: 905px) {
		padding: 30px 35px;
	}
}
.buttonIcon,
.buttonIconAlt {
	fill: white;
	height: 18px;
	width: 18px;
}
.buttonIconAlt {
	// Desktop only.
	@media only screen and (min-width: 905px) {
		fill: #00164d;
	}
}
