@use "src/sassPartials/fonts";
@use "src/components/Button/Button.module.scss" as button;

.header {
	display: flex;
	padding: 15px 25px;
	justify-content: space-between;
	align-items: center;
	background-color: #373737;

	// Tablet.
	@media only screen and (min-width: 600px) and (max-width: 904px) {
		padding: 20px 35px;
	}

	// Desktop.
	@media only screen and (min-width: 905px) {
		padding: 30px 35px;
	}
	a {
		font-size: fonts.calcRem(14px);
		line-height: fonts.calcRem(20px);
	}
}
.materialSymbol {
	fill: white;
	height: 18px;
	width: 18px;
}
.outline,
.fill {
	display: flex;
	gap: 8px;
	padding: 15px 30px;
}
.outline {
	border-bottom: 1px solid #5a5a5a;
	// Desktop.
	@media only screen and (min-width: 905px) {
		@include button.outlined;
	}
}
.fill {
	// Desktop.
	@media only screen and (min-width: 905px) {
		.materialSymbol {
			fill: #00164d;
		}
		@include button.filled;
	}
}
