.header {
	display: flex;
	padding: 15px 25px;
	justify-content: space-between;
	align-items: center;
	background-color: #373737;

	// Tablet.
	@media only screen and (min-width: 600px) and (max-width: 904px) {
		padding: 20px 35px;
	}

	// Desktop.
	@media only screen and (min-width: 905px) {
		padding: 30px 35px;
	}
}
.navItemGithub,
.navItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.navItem {
	text-align: center;
}
.navItemGithub {
	gap: 5px;
}
.materialSymbol {
	fill: white;
	height: 20px;
	width: 20px;
}
