.form {
	display: flex;
	flex-direction: column;
	background: #373737;
	border-radius: 10px;
	padding: 50px 30px;
	gap: 20px;

	/* Tablet and desktop */
	@media only screen and (min-width: 430px) {
		padding: 20px 0px;
	}
}
.title {
	padding: 10px;
	border-bottom: 2px solid #e0e0e0;
}
.input,
.textArea {
	width: 100%;

	// Background colors
	--md-filled-text-field-hover-active-indicator-color: #e0e0e0;
	--md-filled-text-field-focus-active-indicator-color: #e0e0e0;
	--md-filled-text-field-container-color: #4b4b4b;

	//Default colors
	--md-filled-text-field-input-text-color: white;
	--md-filled-text-field-input-text-placeholder-color: #bfbfbf;
	--md-filled-text-field-label-text-color: #e0e0e0;
	--md-filled-text-field-supporting-text-color: #e0e0e0;
	// --- Hover
	--md-filled-text-field-hover-input-text-color: white;
	--md-filled-text-field-hover-label-text-color: #e0e0e0;
	--md-filled-text-field-hover-supporting-text-color: #e0e0e0;
	// --- Focus
	--md-filled-text-field-focus-input-text-color: white;
	--md-filled-text-field-focus-label-text-color: #e0e0e0;
	--md-filled-text-field-focus-supporting-text-color: #e0e0e0;

	// Error colors
	--md-filled-text-field-error-input-text-color: white;
	--md-filled-text-field-error-label-text-color: #ffb9b9;
	--md-filled-text-field-error-supporting-text-color: #ffb9b9;
	// --- Hover
	--md-filled-text-field-error-hover-input-text-color: white;
	--md-filled-text-field-error-hover-label-text-color: #ffb9b9;
	--md-filled-text-field-error-hover-supporting-text-color: #ffb9b9;
	// --- Focus
	--md-filled-text-field-error-focus-input-text-color: white;
	--md-filled-text-field-error-focus-label-text-color: #ffb9b9;
	--md-filled-text-field-error-focus-supporting-text-color: #ffb9b9;
}
.textArea {
	resize: none;
}
.submission {
	display: flex;
	-ms-flex-align: center;
	gap: 5px;
	width: 100%;
}

/* Error / success specific styling */

.errorMessage,
.successMessage {
	margin: 0;
	padding: 0;
	min-height: 30px;
	flex: 1;
}
.errorMessage {
	color: #ffb9b9;
}
.successMessage {
	color: lightgreen;
}
