.footer {
    display: flex;
    flex-direction: column;
    background-color: #184467;
    width: 100%;
    padding: 40px;
    font-size: 24px;
}

/*tablet*/
@media only screen and (min-width: 430px) and (max-width: 960px) {
    .footer {
        padding: 60px;
    }
    .links {
        padding: 15px;
    }
}
/*desktop*/
@media only screen and (min-width: 961px) {
    .footer {
        padding: 120px;
    }
    .links {
        padding: 30px;
    }
}
/*tablet & desktop*/
@media only screen and (min-width: 430px) {
    .footer {
        flex-direction: row;
    }
    .links {
        flex: 1;
    }
}
