.nav {
	position: relative;
}
.navList {
	position: absolute;
	right: 0;
	flex-direction: column;
	gap: 30px;
	padding: 15px 20px;
	background-color: var(--primary);
	border-radius: 10px;

	// Desktop.
	@media only screen and (min-width: 905px) {
		position: relative;
		display: flex !important;
		gap: 10px;
		flex-direction: row;
		background-color: var(--tertiary);
	}
}
.materialSymbol {
	height: 24px;
	width: 24px;
}
.hamburgerButton {
	// Desktop.
	@media only screen and (min-width: 905px) {
		display: none;
	}
}
