.nav {
	position: relative;
}
.navList {
	position: absolute;
	right: 0;
	flex-direction: column;
	background-color: var(--primary);
	border-radius: 10px;

	// Mobile & Tablet.
	@media only screen and (max-width: 904px) {
		z-index: 2;
		border: 1px solid #b0b0b0;
	}

	// Desktop.
	@media only screen and (min-width: 905px) {
		position: relative;
		display: flex !important;
		gap: 10px;
		flex-direction: row;
		background-color: var(--tertiary);
	}
}
.materialSymbol {
	height: 24px;
	width: 24px;
}
.hamburgerButton {
	// Desktop.
	@media only screen and (min-width: 905px) {
		display: none;
	}
}
