.page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	margin: auto;
	background: linear-gradient(90deg, #42495c 0%, #3f4863 47.4%, #42495c 100%);
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 75px 16px 50px 16px;
	gap: 30px;
	align-items: center;

	background-color: #373737;

	/* Tablet only */
	@media only screen and (min-width: 430px) and (max-width: 960px) {
		padding: 75px 30px 50px 30px;
	}

	/* Desktop only */
	@media only screen and (min-width: 961px) {
		padding: 75px 32px 50px 32px;
		flex-direction: row;
		justify-content: space-between;
		max-width: 1320px;
	}
}
.footerText {
	// Tablet.
	@media only screen and (min-width: 600px) and (max-width: 904px) {
		width: 50%;
	}
}

.container {
	// Desktop.
	@media only screen and (min-width: 905px) {
		width: 100%;
	}
}
.footerText {
	// Desktop.
	@media only screen and (min-width: 905px) {
		width: 33%;
	}
}
