.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 0px 16px;
    width: 100%;
    min-height: 100vh;
}

.main{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    gap: 10px;
}

.dialogue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 20px 30px;
    gap: 10px;
    width: 100%;

    background: rgba(79, 79, 79, 0.75);
    border: 3px solid #7E7E7E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.subtitle {
    padding-left: 10px;
    font-size: 1.5rem;
    margin: 0;
}

.pfp {
    position: relative;
    height: 230px;
    width: 230px;
    padding: 5px;
}
.button {
    z-index: 1;
    margin: 20px 0;
}


/* tablet */
@media only screen and (min-width: 426px) and (max-width: 960px) {
    .main {
        gap: 30px;
    }
    .dialogue {
        padding: 35px 50px;
        gap: 25px;
        max-width: 683px;
    }
    .pfp {
        height: 300px;
        width: 300px;
    }

}
/* desktop */
@media only screen and (min-width: 961px) {
    .landing {
        padding: 70px 32px;
    }
    .main{
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }
    .pfp {
        order: 2;
        height: 300px;
        width: 300px;
    }
    .dialogue {
        padding: 35px 50px;
        gap: 25px;
        max-width: 683px;
        order: 1;
        flex: 1;
    }
    .subtitle {
        padding-left: 15px;
        font-size: 2.1rem;
    }
}