.cardSection {
	width: 100%;
	display: flex;
	margin: 20px 0px 20px 0px;
}
.cardHolder {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	flex: 1;
	text-shadow: 4px 4px 5px #00000025;
	box-shadow: 4px 4px 5px #00000025;
	padding: 20px 20px 20px 20px;
}
.title {
	font-size: 36px;
}
.cards {
	display: flex;
	flex: 1;
}
.cardExtension,
.cardExtensionLeft,
.cardExtensionRight {
	display: flex;
	flex: 1;
}
.cardExtensionLeft {
	box-shadow: 4px 4px 5px #00000025;
}

.cardExtensionRight {
	box-shadow: 4px 4px 5px #00000025;
}
.mySwiper,
.mySwiper2 {
	width: 260px;
}

@media only screen and (min-width: 430px) {
	.cardHolder {
		flex: initial;
	}
	.mySwiper,
	.mySwiper2 {
		width: 800px;
	}
}

@media only screen and (min-width: 431px) and (max-width: 960px) {
	.mySwiper {
		width: 650px;
	}
	.mySwiper2 {
		width: 550px;
	}
}
