.contactMe {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #184467;
    color: white;
    width: 100%;
    padding-bottom: 20px;
}

.titleText {
    padding: 20px;
    display: flex;
    flex: initial;
    margin: 0px;
}

.description {
    display: flex;
    font-size: 24px;
}

.text {
    display: flex;
    flex: 5;
    padding-left: 50px;
    padding-right: 20px;
    margin: 0px;
}
.links {
    display: flex;
    flex: 4;
    flex-direction: column;
}
