.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: auto;
    background-color: white;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #184467;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

/*-----------------*/
.aboutText {
    font-size: 18px;
}
/*-----------------*/
.footer {
    width: 100%;
    color: #636363;
    padding: 5px;
    padding-left: 20px;
    font-size: 20px;
}

@media only screen and (min-width: 430px) and (max-width: 960px) {
    .aboutText {
        font-size: 24px;
    }
    .footerText {
        width: 50%;
    }
}

@media only screen and (min-width: 961px) {
    .container {
        width: 100%;
    }
    .footerText {
        width: 33%;
    }
    .aboutText {
        font-size: 36px;
    }
    .about {
        padding: 0 60px 0 60px;
    }
}
