.title {
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
}
.titleText {
    padding: 0 20px 0 20px;
}
.hr {
    display: flex;
    flex: 1;
    background-color: white;
}

@media only screen and (min-width: 961px) {
    .title {
        font-size: 24px;
    }
}
