.skillCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 4px 4px 5px #00000025;
	padding: 20px 0px 20px 0px;
	border-radius: 15px;
	background-color: white;
	color: black;
	text-shadow: none;
	width: 250px;
	height: 300px;
	font-size: 24px;
}

.skillCardUl {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 18px;
}
.hr {
	width: 70%;
}

.title {
	display: flex;
	align-items: center;
	height: 56px;
	text-align: center;
	width: 80%;
}

@media only screen and (min-width: 430px) and (max-width: 960px) {
	.skillCard {
		width: 200px;
	}
}
