.container {
    position: relative;
    height: 60vh;
    width: 100%;
}

.image {
    filter: blur(2px);
}

.textContainer {
    position: absolute;
    background-color: #00000025;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.triangleRight {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 100px solid #184467;
    border-right: 60vw solid transparent;
    bottom: 0px;
}
.triangleLeft {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 100px solid #184467;
    border-left: 60vw solid transparent;
    bottom: 0px;
    right: 0px;
}

@media only screen and (min-width: 430px) and (max-width: 960px) {
    .textContainer {
        font-size: 24px;
    }
}

@media only screen and (min-width: 961px) {
    .container {
        height: 100vh;
    }
    .textContainer {
        font-size: 36px;
    }
}
