.imageWrapper {
	position: relative;
	height: 105px;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;

	// Tablet.
	@media only screen and (min-width: 600px) and (max-width: 904px) {
		height: 165px;
	}

	// Desktop.
	@media only screen and (min-width: 905px) {
		order: 2;
		box-shadow: inset 5px 0px 3px -3px rgba(0, 0, 0, 0.2);
		flex: 5;
		height: 100%;
	}
}
.image {
	object-fit: contain;
	padding: 10px;
}
