.about {
    display: flex;
    flex-direction: column;
    padding: 150px 16px;
    gap: 40px;
    width: 100%;
    max-width: 1320px;
}
.topRow {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 366px;
    background: #4A5676;
    padding: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}
.aboutTitleMobile { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.aboutTitleDesktop {
    display: none;
}
.selfDescription {
    margin-top: 20px;
}
.pfp {
    width: 160px;
    height: 200px;
    border-radius: 10px;
}
.bottomRow {
    display: flex;
    flex-direction: column;
    gap: 35px;
    min-height: 366px;
}
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 3;

    background: #4B4B4B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
}
.skillRow {
    display: flex;
    gap: 5px;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 98px;

    background-color: #373737;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.interests {
    display: flex;
    flex-direction: column;

    flex: 1;

    background: #4B4B4B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
}
.list {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    gap: 10px;
}

/* tablet */
@media only screen and (min-width: 426px) and (max-width: 960px) {
    .aboutTitleMobile {
        display: block;
        position: relative;
    }
    .pfp {
        float: left;
        margin-top: 20px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

/* desktop */
@media only screen and (min-width: 961px) {
    .pfp {
        width: 322px;
        height: 366px;
        float: none;
        flex: none;
    }
    .aboutTitleDesktop {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .aboutTitleMobile {
        display: none;
    }
    .description {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .topRow {
        padding: 40px;
    }
    .bottomRow {
        flex-direction: row;
    }
}