.about {
	display: flex;
	flex-direction: column;
	margin: 150px 0;
	padding: 0 16px;
	width: 100%;
	max-width: 1128px;
	@media only screen and (min-width: 905px) {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 25px;
	}
}
.personal {
	display: flex;
	flex-direction: column;
	background-color: #4a5676;
	padding: 30px 20px 0 20px;
	border-radius: 10px 10px 0 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	.imageWrapper {
		display: flex;
		justify-content: center;
		margin-bottom: 15px;
		.pfp {
			width: 172px;
			height: 215px;
			border-radius: 10px;
		}
	}
	h2 {
		order: -2;
	}
	.divider {
		order: -1;
		margin: 20px 0;
	}
	.buttonWrapper {
		display: flex;
		justify-content: flex-end;
		padding-right: 20px;
		margin: 20px 0;
		gap: 15px;
	}
	@media only screen and (min-width: 601px) {
		padding: 40px 40px 0 40px;
		display: block;
		.imageWrapper {
			padding: 0 30px 5px 0;
			margin-bottom: 0;
			float: left;
		}
		.divider {
			margin: 10px 0;
			display: flex;
		}
		.buttonWrapper {
			margin: 25px 0;
		}
	}
	@media only screen and (min-width: 905px) {
		padding: 40px;
		border-radius: 10px;
		gap: 25px;
		.imageWrapper {
			padding: 0 30px 5px 0;
			margin-bottom: 0;
			float: left;
			.pfp {
				width: 232px;
				height: 290px;
			}
		}
		.buttonWrapper {
			margin: 10px 0 0 0;
		}
	}
}
.expanded,
.collapsed {
	p {
		margin: 5px 0;
		&:last-child {
			margin-bottom: 0px;
		}
		&:first-of-type {
			margin-top: 0px;
		}
	}
	@media only screen and (min-width: 601px) {
		p {
			margin: 15px 0;
		}
	}
}
.expanded {
	@media only screen and (min-width: 905px) {
		overflow: hidden;
	}
}
.collapsed {
	box-shadow: inset 0px -10px 10px -10px rgba(255, 255, 255, 1);
	overflow: hidden;
	height: 100px;
	@media only screen and (min-width: 601px) {
		height: 150px;
	}
	@media only screen and (min-width: 905px) {
		height: 220px;
	}
}
.interests {
	background-color: #4a5676;
	padding: 0px 20px 30px 20px;
	border-radius: 0 0 10px 10px;
	margin-bottom: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	.divider {
		margin-bottom: 20px;
	}
	li {
		list-style-type: none;
	}
	@media only screen and (max-width: 904px) {
		li:not(li:first-child)::before {
			content: ", ";
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			& > ul::before {
				padding-left: 5px;
				content: "(";
			}
			& > ul::after {
				content: ")";
			}
			&:not(ul > ul)::after {
				content: ".";
			}
		}
	}
	@media only screen and (min-width: 601px) {
		padding-bottom: 20px;
		.divider {
			margin-bottom: 10px;
		}
	}
	@media only screen and (min-width: 905px) {
		padding: 0;
		border-radius: 10px;
		order: 1;
		margin: 0 0 0 10px;
		width: 264px;
		overflow: hidden;
		background-color: #4b4b4b;
		display: flex;
		flex-direction: column;
		align-items: center;
		.divider {
			display: none;
		}
		h3 {
			display: flex;
			justify-content: center;
			padding: 20px 0 15px 0;
			width: 100%;
			background-color: #373737;
		}
		ul {
			padding-left: 0;
			& > ul {
				padding-left: 10px;
			}
		}
		li {
			margin-top: 2px;
		}
	}
}
.divider {
	border-top: white 1px solid;
}
.skills {
	display: flex;
	flex-direction: column;
	background-color: #4b4b4b;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	overflow: hidden;
	gap: 15px;
	padding-bottom: 15px;
	.title {
		display: flex;
		justify-content: center;
		padding: 20px 0 15px 0;
		width: 100%;
		background-color: #373737;
	}
	.row {
		display: flex;
		gap: 10px;
		justify-content: center;
	}
	ul {
		padding: 0;
	}
	@media only screen and (min-width: 905px) {
		flex: 1;
	}
}
.skillIconGroup {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	p {
		margin: 0;
	}
	.icon {
		height: 36px;
	}
	@media only screen and (min-width: 905px) {
		.icon {
			height: 48px;
		}
	}
}
